.nav1{width: 256px; height: 56px; padding: 8px;}
#searchBar{width: 176px; height: 40px; } #srearchtxt{width: 128px; height: 26px;}
#searchIcon{width: 25px; height: 25px;}
#menuIcon{width: 36px; height: 25px;}
.titleText{width: 560px; height: 283px; padding: 32px 40px;}
#textImg{width: 481px; height: 220px; margin: 0px;}
